* {
  margin: 0;
  padding: 0;
}
@media (max-width: 599.8px) {
  .header {
    display: flex;
    align-items: center;
    background-color: #00aaff;
    padding: 10px;
  }
  .logo img {
    height: 50px;
    margin-right: 20px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
}
