* {
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
 .List{transform: translate(-103px,0px);
    -webkit-transform: translate(-103px,0px);
    -moz-transform: translate(-103px,0px);}
  }
  .container{margin-left: -50px;}
}
