html,
body {
  margin: 0;
  padding: 0;
  background: url(./Pics/OIP.jfif);
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.container {
  padding: 10px;
}
h1 {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
h2 {
  font-size: 170%;
}
.header {
  background-color: #03a9f4;
  padding-bottom: 40px;
  border: 1px solid;
}

.logo {
  background-color: #03a9f4;
  border-radius: 10px;
}
.menu {
  color: #9b656586;
  text-decoration: none;
}
.nav {
  justify-content: center;
  display: flex;
  text-align: center;
  gap: 10px;
}
.Contact {
  display: flex;
  margin-left: 19px;
}
.Contact__1 {
  margin-right: 20px;
  text-decoration: none;
}
.Contact__2 {
  text-decoration: none;
}
.Contact {
  display: flex;
  padding: 10px;
}
.Tel {
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 3px;
}
.Email {
  padding-top: 3px;
}
footer {
  background-color: rgba(0, 0, 0, 0.356);
}
a {
  transition-duration: 1s;
}
a:hover {
  font-size: 125%;
  opacity: 50px;
  color: green;
}
/* Button 2 */
#button-2 .knobs:before,
#button-2 .knobs:after {
  content: "YES";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;

  border-radius: 50%;
  transition: 0.3s ease all;
}
.megacontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.5fr 0.3fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 15px;
  grid-auto-flow: column;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Heading Heading Heading Heading"
    "Main Main Main Main"
    "Foot Foot Foot Foot";
}

.Heading {
  grid-area: Heading;
}

.Foot {
  grid-area: Foot;
}

.Main {
  grid-area: Main;
}

.Heading {
  grid-area: Heading;
}
.lists {
  padding-top: -10px;
  text-decoration: none;
  font-size: larger;
  justify-content: center;
  align-items: center;
  display: flex;
}
.List {
  border: 1px solid;
}
.Foot {
  border: 1px solid;
  grid-area: Foot;
}
.container {
  margin-left: 20px;
}
.Main {
  display: flex;
  grid-area: Main;
}
